In [1]:
from collections import Counter
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [45]:
Host="18.136.56.185"
Port="3306"
Username="dm_team"
Password="dm_team123#"
db_Name="project_itsm"

In [46]:
conn=create_engine('mysql+pymysql://'+Username+':'+Password+'@'+Host+'/'+db_Name)

In [ ]:
conn.table_names()

In [ ]:
query = "select * from dataset_list"
orders = pd.read_sql(query,conn) #extracting the table
print(orders.shape)
print(orders.head())

In [ ]:
type(orders)

In [ ]:
df2=orders

In [8]:
df.to_csv("itsm.csv", sep='\t')

In [2]:
df=pd.read_excel("itsm2 new.xlsx")

In [3]:
for col in df.columns:
    print(col+"\t"+"   "+str(len(df[col].unique())))

CI_Name	   2999
CI_Cat	   12
CI_Subcat	   64
WBS	   272
Incident_ID	   46499
Priority	   5
number_cnt	   46499
Category	   4
KB_number	   1817
No_of_Reassignments	   41
Open_Time	   34584
Close_Time	   34481
Handle_Time_hrs	   30601
No_of_Related_Interactions	   50

In [4]:
df.dtypes

CI_Name                        object
CI_Cat                         object
CI_Subcat                      object
WBS                            object
Incident_ID                    object
Priority                        int64
number_cnt                    float64
Category                       object
KB_number                      object
No_of_Reassignments             int64
Open_Time                      object
Close_Time                     object
Handle_Time_hrs                object
No_of_Related_Interactions    float64
dtype: object

In [5]:
df.isnull().sum()

CI_Name                         0
CI_Cat                          0
CI_Subcat                       0
WBS                             0
Incident_ID                     0
Priority                        0
number_cnt                      0
Category                        0
KB_number                       0
No_of_Reassignments             0
Open_Time                       0
Close_Time                      0
Handle_Time_hrs                 1
No_of_Related_Interactions    114
dtype: int64

In [6]:
df.head()

,CI_Name,CI_Cat,CI_Subcat,WBS,Incident_ID,Priority,number_cnt,Category,KB_number,No_of_Reassignments,Open_Time,Close_Time,Handle_Time_hrs,No_of_Related_Interactions
0,SBA000662,application,Server Based Application,WBS000071,IM0000048,5,0.748361,request for information,KM0000524,0,06-02-2013 14:07,17-10-2013 14:00,"3,88,55,55,556",2.0
1,WBA000133,application,Web Based Application,WBS000073,IM0000060,4,0.518267,incident,KM0001633,0,28-02-2013 16:49,20-11-2013 16:38,"1,91,71,75,278",1.0
2,WBA000094,application,Web Based Application,WBS000073,IM0000128,4,0.714684,incident,KM0001732,0,24-05-2013 09:34,05-12-2013 08:28,"1,45,66,98,056",3.0
3,WBA000077,application,Web Based Application,WBS000153,IM0000162,5,0.983634,incident,KM0000412,0,19-06-2013 15:33,10-10-2013 17:26,"4,58,28,19,444",4.0
4,STA000033,application,Standard Application,WBS000066,IM0000185,3,0.677921,incident,KM0000575,0,08-07-2013 09:13,04-12-2013 14:25,"1,12,85,83,056",1.0

In [9]:
df.isnull().sum()

CI_Name                0
CI_Cat                 0
CI_Subcat              0
WBS                    0
Incident_ID            0
Priority               0
number_cnt             0
Category               0
KB_number              0
No_of_Reassignments    0
Open_Time              0
Close_Time             0
Handle_Time_hrs        0
dtype: int64

In [8]:
for i in df.columns:
    if(df[i].isnull().sum()>100):
        del df[i]
df.dropna(inplace=True)

In [10]:
df["Open_Time"]=pd.to_datetime(df["Open_Time"])
df["Close_Time"]=pd.to_datetime(df["Close_Time"])

In [11]:
for i in range(len(df["Handle_Time_hrs"])):
    df['Handle_Time_hrs'][i]=df['Handle_Time_hrs'][i].replace(',','')

C:\Users\gaurav\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
for i in df.columns:
    try:
        df[i]=pd.to_numeric(df[i])
    except:
        pass

In [13]:
df.dtypes

CI_Name                 object
CI_Cat                  object
CI_Subcat               object
WBS                     object
Incident_ID             object
Priority                 int64
number_cnt             float64
Category                object
KB_number               object
No_of_Reassignments      int64
Open_Time                int64
Close_Time               int64
Handle_Time_hrs          int64
dtype: object

In [14]:
df.isnull().sum()

CI_Name                0
CI_Cat                 0
CI_Subcat              0
WBS                    0
Incident_ID            0
Priority               0
number_cnt             0
Category               0
KB_number              0
No_of_Reassignments    0
Open_Time              0
Close_Time             0
Handle_Time_hrs        0
dtype: int64

In [15]:
df.head()

,CI_Name,CI_Cat,CI_Subcat,WBS,Incident_ID,Priority,number_cnt,Category,KB_number,No_of_Reassignments,Open_Time,Close_Time,Handle_Time_hrs
0,SBA000662,application,Server Based Application,WBS000071,IM0000048,5,0.748361,request for information,KM0000524,0,1370182020000000000,1382018400000000000,3885555556
1,WBA000133,application,Web Based Application,WBS000073,IM0000060,4,0.518267,incident,KM0001633,0,1362070140000000000,1384965480000000000,1917175278
2,WBA000094,application,Web Based Application,WBS000073,IM0000128,4,0.714684,incident,KM0001732,0,1369388040000000000,1368347280000000000,1456698056
3,WBA000077,application,Web Based Application,WBS000153,IM0000162,5,0.983634,incident,KM0000412,0,1371655980000000000,1381425960000000000,4582819444
4,STA000033,application,Standard Application,WBS000066,IM0000185,3,0.677921,incident,KM0000575,0,1375866780000000000,1365776700000000000,1128583056

In [56]:
for i in range(len(df["Priority"])):
    if (df['Priority'][i]==1 or df['Priority'][i]==2):
        df['Priority'][i]=1
    else:
        df['Priority'][i]=0

C:\Users\gaurav\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\gaurav\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
Counter(df['Priority'])
df2=df

## One Hot Encoding

In [31]:
df.CI_Name.value_counts().sort_values(ascending=False).head(20)

SUB000456    3050
SBA000263    2176
SBA000607    1743
SBA000462    1698
WBA000058    1614
WBA000133    1453
SUB000113    1100
WBA000011     945
WBA000144     909
DTA000616     851
SUB000424     744
SAP000004     737
DTA000057     684
SBA000017     669
WBA000124     615
SBA000759     571
SBA000689     558
SBA000609     539
WBA000103     506
APP000005     468
Name: CI_Name, dtype: int64

In [32]:
df['CI_Cat'].value_counts().sort_values(ascending=False).head(10)

application          32899
subapplication        7782
computer              3643
storage                703
hardware               446
software               333
database               214
displaydevice          212
officeelectronics      152
networkcomponents      107
Name: CI_Cat, dtype: int64

In [29]:
df['CI_Subcat'].value_counts().sort_values(ascending=False).head(50)

Server Based Application    18810
Web Based Application       15311
Desktop Application          3876
Laptop                       1921
SAP                          1199
Banking Device                916
Citrix                        767
SAN                           549
Client Based Application      492
Desktop                       423
DataCenterEquipment           281
System Software               272
Monitor                       212
Database                      211
Windows Server                153
Controller                    146
Exchange                      130
Printer                        88
Omgeving                       86
Standard Application           85
Scanner                        64
MigratieDummy                  60
Automation Software            55
Linux Server                   55
Encryption                     45
Network Component              32
KVM Switches                   32
Switch                         28
Keyboard                       27
zOS Cluster                    17
Router                         16
Lines                          15
NonStop Server                 14
SharePoint Farm                11
ESX Cluster                    11
Net Device                     11
X86 Server                     10
VDI                             9
Unix Server                     7
Thin Client                     6
zOS Server                      4
Database Software               4
MQ Queue Manager                4
Modem                           3
Oracle Server                   3
ESX Server                      2
Instance                        2
Firewall                        2
Tape Library                    2
Number                          2
Name: CI_Subcat, dtype: int64

In [30]:
df['WBS'].value_counts().sort_values(ascending=False).head(50)

WBS000073    13342
WBS000091     2500
WBS000263     2283
WBS000072     2197
WBS000271     1186
WBS000095     1102
WBS000318     1099
WBS000152     1076
WBS000094      861
WBS000146      858
WBS000223      803
WBS000092      784
WBS000128      755
WBS000099      717
WBS000088      619
WBS000228      611
WBS000089      603
WBS000296      581
WBS000292      573
WBS000016      505
WBS000162      495
WBS000199      483
WBS000219      463
WBS000096      418
WBS000307      374
WBS000187      353
WBS000172      328
WBS000125      318
WBS000023      302
WBS000255      291
WBS000013      277
WBS000110      242
WBS000264      232
WBS000043      232
WBS000330      222
WBS000014      219
WBS000093      215
WBS000015      208
WBS000098      208
WBS000025      207
WBS000239      200
WBS000048      191
WBS000102      185
WBS000167      183
WBS000027      166
WBS000054      165
WBS000002      157
WBS000066      154
WBS000077      151
WBS000153      146
Name: WBS, dtype: int64

## Label Encoding

In [33]:
from sklearn.preprocessing import LabelEncoder

In [42]:
#As some of the column contain 'yes','no' their value, we need to conver it into numerical form 
#before giving these data to our model
# 0 means No and 1 means Yes
enc=LabelEncoder()
X.CI_Name=enc.fit_transform(X.CI_Name)
X.CI_Cat=enc.fit_transform(X.CI_Cat)
X.CI_Subcat=enc.fit_transform(X.CI_Subcat)
X.WBS=enc.fit_transform(X.WBS)
X.Incident_ID=enc.fit_transform(X.Incident_ID)
X.Category=enc.fit_transform(X.Category)
X.KB_number=enc.fit_transform(X.KB_number)

In [43]:
X.dtypes

CI_Name                  int32
CI_Cat                   int32
CI_Subcat                int32
WBS                      int32
Incident_ID              int32
number_cnt             float64
Category                 int32
KB_number                int32
No_of_Reassignments      int64
Open_Time                int64
Close_Time               int64
dtype: object

In [41]:
xx.dtypes

CI_Name                 object
CI_Cat                  object
CI_Subcat               object
WBS                     object
Incident_ID             object
number_cnt             float64
Category                object
KB_number               object
No_of_Reassignments      int64
Open_Time                int64
Close_Time               int64
dtype: object

In [90]:
del xx["Incident_ID"]

## Random forest

In [46]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split as tts

In [47]:
df.head()

,CI_Name,CI_Cat,CI_Subcat,WBS,Incident_ID,Priority,number_cnt,Category,KB_number,No_of_Reassignments,Open_Time,Close_Time,Handle_Time_hrs
0,SBA000662,application,Server Based Application,WBS000071,IM0000048,5,0.748361,request for information,KM0000524,0,1370182020000000000,1382018400000000000,3885555556
1,WBA000133,application,Web Based Application,WBS000073,IM0000060,4,0.518267,incident,KM0001633,0,1362070140000000000,1384965480000000000,1917175278
2,WBA000094,application,Web Based Application,WBS000073,IM0000128,4,0.714684,incident,KM0001732,0,1369388040000000000,1368347280000000000,1456698056
3,WBA000077,application,Web Based Application,WBS000153,IM0000162,5,0.983634,incident,KM0000412,0,1371655980000000000,1381425960000000000,4582819444
4,STA000033,application,Standard Application,WBS000066,IM0000185,3,0.677921,incident,KM0000575,0,1375866780000000000,1365776700000000000,1128583056

In [34]:
X=df.loc[:,['CI_Name', 'CI_Cat', 'CI_Subcat', 'WBS', 'Incident_ID',
       'number_cnt', 'Category', 'KB_number', 'No_of_Reassignments',
       'Open_Time', 'Close_Time']]

In [91]:
y=df.Priority

In [92]:
x_train,x_test,y_train,y_test=tts(xx,yy,random_state=10)

In [93]:
model=RandomForestClassifier(n_estimators=100)

In [98]:
model.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [95]:
yp=model.predict(x_test)

In [53]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix,classification_report #check

In [96]:
accuracy_score(yp,y_test)

0.8764367816091954

In [99]:
print(Counter(y_test))
pd.crosstab(y_test,yp)

Counter({0: 177, 1: 171})

col_0      0    1
Predict
0        166   11
1         32  139

In [100]:
print(classification_report(y_test,yp))

              precision    recall  f1-score   support

           0       0.84      0.94      0.89       177
           1       0.93      0.81      0.87       171

    accuracy                           0.88       348
   macro avg       0.88      0.88      0.88       348
weighted avg       0.88      0.88      0.88       348

## Under sampleing

In [65]:
# As this is Imbalance data set we need to balanced it.
# There are NO(0):3961, YES(1):656 of churn record
# Under Sampling is good here as we are more intrested in YES(1), so removing some of 0's is good idea to make the data set as
#Balanced

from imblearn.under_sampling import NearMiss
nm=NearMiss()                   #creating object
X_under,y_under=nm.fit_sample(X,y)  #under sampling
print(X_under.shape)     
X_under.head()
X_under['Predict']=y_under            #putting back y_new to X_new to shuffle the data
X_under=X_under.sample(frac=1).reset_index(drop=True)  #shuffling data

Using TensorFlow backend.

(1392, 11)

In [68]:
yy=X_under.Predict
xx=X_under.iloc[:,:-1]
print(y.shape)
print(xx.shape)
print(Counter(yy))

(46498,)
(1392, 11)
Counter({0: 696, 1: 696})

In [71]:
xx

,CI_Name,CI_Cat,CI_Subcat,WBS,Incident_ID,number_cnt,Category,KB_number,No_of_Reassignments,Open_Time,Close_Time
0,2374,1,45,128,2258,0.676750,1,217,0,1362914820000000000,1362928260000000000
1,160,3,2,123,7445,0.136063,1,194,1,1382526360000000000,1382549280000000000
2,424,3,2,123,30704,0.209051,1,194,0,1390814040000000000,1390930020000000000
3,1050,1,10,74,10194,0.352904,1,1532,4,1365674340000000000,1365685860000000000
4,653,10,5,153,2205,0.055999,1,881,0,1362915960000000000,1362932160000000000
...,...,...,...,...,...,...,...,...,...,...,...
1387,2843,1,57,70,17296,0.277189,1,453,0,1385637000000000000,1385658300000000000
1388,2713,11,57,12,2111,0.637143,1,339,0,1362912000000000000,1362928380000000000
1389,253,3,2,123,4906,0.894529,1,194,3,1381752660000000000,1381768320000000000
1390,2481,1,45,208,11940,0.448989,1,437,0,1376220300000000000,1376231340000000000
1391,2282,1,45,197,38547,0.585375,1,503,0,1393235220000000000,1393236060000000000